
:root{
    --brand-color: E5E5E5;
 --text-font-family: 'Roboto', sans-serif;
 --background-color-container: #e7e9fc;
 --button-background-color: #4D5AE5;
 --grey: rgba(46, 47, 66, 0.70);

}

.header{
    border-bottom: 1px solid #e7e9fc;

}
.container-nav{
    display: flex;
    justify-content: space-between;
    width: 1158px;
}
.container{
    width: 1158px;    
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800px;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 76px;
}

.link{
    text-decoration: none;
}

.logo-span{
    color: #2e2f42;
}

.logofooter{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.logofooter{
    display: inline-block;
    margin-bottom: 16px;

}
.item{
    width: calc((100% - 48px) / 3);
   }

.list{
    list-style: none;
}

.studio-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.studio-link:hover {
    color: #404bbf; 
}

.studio-link:focus {
    color: #404bbf; 
}


.nav-meniu{
    display: flex;
    align-items: center;

}

.meniu-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.address{
    font-style: normal;
    gap: 40px;
}

.address-list {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.mail-link{
    padding: 24px 0;
  display: inline-block;
}
.mail{
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 500px;
   color: #434455;

}


.mail:hover {
    color: #404bbf;
}
.mail:focus {
    color: #404bbf;
}


.meniu { list-style: none;
}


.effective-solution{
   background: linear-gradient(
    var(--grey, rgba(46, 47, 66, 0.70)), 
    var(--grey, rgba(46, 47, 66, 0.70))), 
    url("../images/effectivesolutionforyourbusiness.jpg");
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: cover;
background-attachment: scroll;
padding: 188px 0;
text-align: center;
width: 1440px;
height: 600px;
flex-shrink: 0;
margin: 0 auto;
}

.effective-solution-b{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

}
.team-member-function {
    font-size: 16px;
    line-height: 1.5em;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
  }

.list-item {
    flex-basis: calc((100% - 3 * 24px) / 4)
}
.sectioniii-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-four{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.section-four-title{    
    font-size: 36px;
    line-height: 1.11em;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.section-four-list{
    display: flex;
    gap: 24px;
}

.listli{
    width: calc((100% - 72px) / 4);
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.container-list {
    padding: 32px 0;
    background-color: #ffffff;

}




.filter{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter:hover {
    color: #404BBF;
}
body{
    font-family: var(--text-font-family);
    color: #434455; 
    background-color: #FFFFFFFF;
}
    .button {
    cursor: pointer;
    background-color: var(--button-background-color,#4D5AE5) ;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    margin: auto;
}

.button:hover {
    background-color: #404bbf;

}

.button:focus {
    background-color: #404bbf 
}

.team-member-name {
    letter-spacing: 0.02em;
    font-weight: 500px;
    font-size: 20px;
    line-height: 1.2em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
  }

.button-filter {cursor: pointer;
    background-color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    padding: 12px 24px;
    border: 1px solid var(--background-color-container, #e7e9fc);
    border-radius: 4px;
}
.button-filter:hover {
    color: #FFFFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.button-filter:focus {
    color: #FFFFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}


.portfolio-list{
    font-weight: 500px;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.portfolio-text {
    color: #434455;
}

.card-content {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;


}

.footer .spanfooter{
    color: #F4F4FD;
}
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.p-footer{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}


.section{
    padding-top: 94px; 
    padding-bottom: 94px; 
}

.portfolio-section{
    padding: 96px 0 120px 0;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.portfolio-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    row-gap: 48px;
    column-gap: 24px;
    flex-shrink: 0;
    padding-bottom: 120px;
}


.forte-points {
 padding: 120px 0;
 
}

.list-forte-points {
    display: flex;
gap: 24px;

}

.doing {
    padding-bottom: 120px;
}

.doing-list{
    display: flex;
    gap: 24px;
}

.sii-title{
    margin-bottom: 8px;
}

.item-doing-list{
    padding-top: 112px;
    padding-bottom: 0;
    width: calc((100% - 48px) / 3);
}

img {
    display: block;
}